.ipynb_checkpoints/
.tox/
.venv/
__pycache__/
build/
checkpoints/
notebooks/train_many_ae.ipynb
paper/
RESULTS/
unfinished-tests/
VeryAccurateEmulator.egg-info/
VeryAccurateEmulator/dataset_21cmVAE.h5
VeryAccurateEmulator/hyperparameter_tuner.py
